<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.bbque.android.bbqueservice"
  android:versionCode="1"
  android:versionName="1.0"
  android:sharedUserId="android.uid.system">
  <uses-sdk android:minSdkVersion="8" />
  <uses-permission android:name="android.permission.GET_TASKS"/>
  <application android:name=".BbqueServiceApp" android:persistent="true">
    <uses-library android:name="com.bbque.android.service" android:required="true"/>
    <uses-library android:name="com.bbque.android.lib" android:required="true"/>
  </application>
  <permission android:name="com.bbque.android.bbqueservice.RTRM"
    android:protectionLevel="normal"
    android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
    android:label="@string/bbque_permission_label"
    android:description="@string/bbque_permission_description"/>
</manifest>
